{% extends 'base.html' %}

{% load widget_tweaks static %}

{% block content %}

<div class="container">
<h1 class="display-4 fw-normal" >Obtenir des informations sur des cryptos</h1>
<form method="POST" id="p-form">

    {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.slug.id_for_label }}" class="form-label">Crypto</label>
          {{ form.slug|add_class:"form-control" }}
        </div>
        <div class="mb-3">
          <label for="{{ form.convert.id_for_label }}" class="form-label">Devise</label>
          {{ form.convert|add_class:"form-control" }}
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <p class="api_info">{{info}}</p>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/script.js'%}"></script>

{% endblock content %}
