<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">CoinAgricole</span>
      </a>

      <ul class="nav nav-pills">
        {% url 'home' as url_home %}

        {% if request.path == url_home %}
        <li class="nav-item"><a href="{{url_home}}" class="nav-link active" aria-current="page">Accueil</a></li>
        {% else %}
        <li class="nav-item"><a href="{{url_home}}" class="nav-link" aria-current="page">Accueil</a></li>
        {% endif %}

        {% url 'func_list' as func_list %}
        {% url 'func_detail' as func_detail %}
        {% url 'api' as api %}

        {% if request.path == func_list %}
          <li class="nav-item"><a href="{{func_list}}" class="nav-link active">Fonctionnalites</a></li>
        {% else %}
          <li class="nav-item"><a href="{{func_list}}" class="nav-link">Fonctionnalites</a></li>
        {% endif %}

        {% if request.path == api %}
          <li class="nav-item"><a href="{{api}}" class="nav-link active">API</a></li>
        {% else %}
          <li class="nav-item"><a href="{{api}}" class="nav-link">API</a></li>
        {% endif %}
        
      </ul>
    </header>
</div>